server {
    listen 80;
    server_name _;
    root /usr/share/nginx/html/tbox;

    gzip on;
    gzip_min_length 1k;
    gzip_comp_level 6;
    gzip_types text/plain application/javascript application/x-javascript text/css application/xml text/javascript application/json;
    gzip_vary on;

    location ~ ^/(v1|api) {
        proxy_pass http://${RAGFLOW_UPSTREAM};
        include /etc/nginx/proxy.conf;
    }

    location / {
        index index.html;
        try_files $uri $uri/ /index.html;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|ico|svg|woff|woff2)$ {
        expires 7d;
        access_log off;
    }
}
